{% extends 'base.html' %}

{% load static %}

{% block title %}
  Cart
{% endblock %}

{% block content %}

  {% if not cart_items %}
  <div class="product_title text-center text-light">
    <br>
    <h1 class="text-center product_title">
      Your Cart is empty
    </h1>
    <br>
    <p class="text-center">
      Click <a href="{% url 'home' %}">here</a> to go back to products
    </p>
  </div>
  {% else %}
  <div class="text-center product_title text-light">
      <br>
      <div>
          <p>
              Shopping Cart:
          </p>
      </div>
  </div>
  <div class="row">
      <div class="mx-auto">
          <div>
              <table class="table cart-table">
                  <thead class="cart-thead">
                    <tr>
                      <th class="product_title text-center" colspan="4">
                        Your Items:
                      </th>
                    </tr>
                  </thead>
                  {% for cart_item in cart_items %}
                  <tr>
                      <td>
                          <a href="{{cart_item.product.get_url}}">
                              <img src="{{cart_item.product.image.url}}" width="30%">
                          </a>
                      </td>
                      <td class="text-left text-light">
                          <h6>
                              {{cart_item.product.name}}
                          </h6>
                          SKU: {{cart_item.product.id}}
                          <br>
                          Unit Price: ${{cart_item.product.price}}
                          <br>
                          Quantity: {{cart_item.quantity}} x ${{cart_item.product.price}}
                      </td>
                      <td>
                          <p class="text-light">
                              ${{cart_item.sub_total}}
                          </p>
                      </td>
                      {% if cart_item.quantity < cart_item.product.stock %}
                      <td>
                          <a href="{% url 'add_cart' cart_item.product.id %}">
                              <i class="material-icons cart-icon">add_shopping_cart</i>
                          </a>
                          <a href="{% url 'cart_remove' cart_item.product.id %}">
                              <i class="material-icons cart-icon">remove_circle</i>
                          </a>
                          <a href="{% url 'cart_remove_product' cart_item.product.id %}">
                              <i class="material-icons cart-icon">delete</i>
                          </a>
                      </td>
                      {% else %}
                      <td>
                          <a href="{% url 'cart_remove' cart_item.product.id %}">
                              <i class="material-icons cart-icon">remove_circle</i>
                          </a>
                          <a href="{% url 'cart_remove_product' cart_item.product.id %}">
                              <i class="material-icons cart-icon">delete</i>
                          </a>
                      </td>
                      {% endif %}
                  </tr>
                  {% endfor %}
              </table>
          </div>
      </div>
      <div class="mx-auto">
          <div>
              <table class="table cart-table">
                  <thead class="cart-thead">
                    <tr>
                      <th class="product_title text-center" colspan="4">
                        Check Out:
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>
                              <h6 class="text-center text-warning display-5">
                                  Please check your cart before payment!
                              </h6>
                          </td>
                      </tr>
                      <tr class="text-left">
                          <td>
                              <h4 class="text-light">
                                  Your total bill is: $<strong>{{total}}</strong>
                              </h4>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <div class="row mx-auto">
                  <a href="{% url 'home' %}" style="text-decoration: none; margin: 0 auto; margin-left: auto; margin-left: auto;">
                      <button type="button" class="btn btn-lg btn-outline-light text-white">
                          Back to Products
                      </button>
                  </a>
                  <a href="" style="text-decoration: none; margin: 0 auto; margin-left: auto; margin-left: auto;">
                      <button type="button" class="btn btn-lg btn-success text-white">
                          Complete purchase
                      </button>
                  </a>
              </div>
          </div>
      </div>
  </div>
  {% endif %}
{% endblock %}