{% extends 'base.html' %}

{% load static %}

{% block title %}
  Contacts
{% endblock %}

{% block content %}
  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto my-1 text-center">
          <h1 class="product_title text-light">
            Contacts
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-1">
      <div class="row mt-1">
          <div class="col-10 mx-auto col-md-6 my-1">
              <img src="{% static 'images/Parrot_ara_studio.jpg' %}" width="100%">
          </div>
      </div>
  </div>
  <div class="col-10 mx-auto col-md-6 my-5">
    <div>
      <p class="product_desc text-light">
        Feel free to contact us:
      </p>
      <div style="border: 2px none black; padding: 10px;">
        <p class="text-justify product_text text-light">
          Address: Zona Franca, Hato Nuevo, km.22, 10902 Aut Duarte, Santo Domingo, Republica Dominicana
        </p>
        <p class="text-justify product_text text-light">
          Telephone number: +1 (809) 567-20-04
        </p>
        <p class="text-justify product_text text-light">
          E-mail: info@oliverrums.com
        </p>
      </div>
    </div>
  </div>
{% endblock %}