{% extends 'base.html' %}

{% load static %}

{% block title %}
  Product
{% endblock %}

{% block content %}
  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto my-1 text-center">
          <h1 class="product_title text-light">
        {{product.name}}
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-1">
      <div class="row mt-1">
          <div class="col-10 mx-auto col-md-6 my-1">
              <img src="{{product.image.url}}" width="100%">
          </div>
      </div>
  </div>
  <div class="col-10 mx-auto col-md-6 my-5">
    <div>
      <p class="product_desc text-light">
        Product description:
      </p>
      <div style="border: 2px none black; padding: 10px;">
        <p class="text-justify product_text text-light">
          {{product.description}}
        </p>
      </div>
      <br>
      {% if product.stock <= 0 %}
      <p class="text-justify product_text text-light">
        Out of stock
      </p>
      {% else %}
      <h5 class="text-info font-italic mb-5">
        Price: ${{product.price}}
      </h5>
      <div>
        <a href="{% url 'add_cart' product.id %}" class="btn btn-secondary" style="display: block; margin-left: auto; margin-right: auto; width: 25%;">
          Add to Cart
        </a>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}